body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  color: rgb(233, 184, 25);
}
/* Align the header text in the center */
h1 {
  text-align: center;
}
/* Center the image */
img {
  display: block;
  margin: 0 auto;
}
/* Center and style navigation links */
nav a {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: rgba(173, 177, 174, 0.418);
  color: rgb(3, 97, 134);
  text-decoration: none;
  margin:0 10px; 
  width: 100px;
  display: inline-block; 
}
/* Center the navigation links container horizontally on the page */
.centered-nav {
  text-align: center; 
}

/* Shrink the font size of the image caption and center it */
figcaption {
  font-size: 15px;
  text-align: center;
}
/* Center and set a width for paragraphs within #featured-property */
#featured-property p {
  width: 800px;
  margin: 10px auto;
  text-align: center;
}
/* Float the divs within the #details section to the left */
#details div {
  float: left;
  width: 25%;
}
/* Apply common styles to all the bottom row divs */
.bottom-row {
  background-color: yellowgreen;
  text-align: center;
  width: 15%;
  float: left;
  margin-left:-50px;
  box-sizing: content-box;
  padding:25px;
}


